<h3 style="color: red">{{errMsg}}</h3>

<button *ngIf="isRestaurantEmployee()" (click)="openAllOrdersForAllCompanies()">All orders for all companies</button>

<app-logout></app-logout>

<p-calendar [(ngModel)]="date" (onSelect)="getMenu()"></p-calendar>

<div *ngIf="orderMsg == null">

  <p>date of the menu: {{ menu?.date }}</p>

  <div class="ui-g">
    <div class="ui-g-3" *ngFor="let dish of menu?.dishes">
      <app-dish-card-create [name]="dish.name" [allergens]="dish.allergens" [price]="dish.price" [foodPic]="dish.foodPic" [id]="dish.id" [description]="dish.description" (updateDish)="updateDish($event)"></app-dish-card-create>
    </div>
  </div>

  <p-button label="Add" (click)="addDish()" icon="fa fa-fw fa-plus-circle"></p-button>
  <p-button label="Save" (click)="saveMenu()" icon="fa fa-fw fa-check"></p-button>

</div>

<h1>{{orderMsg}}</h1>