<div class="ui-card ui-widget ui-widget-content ui-corner-all ui-card-shadow1" ng-reflect-ng-class="ui-card ui-widget ui-widget-co" ng-reflect-ng-style="[object Object]" style="width: 360px;">
  <div class="ui-card-header ng-star-inserted">
    <img src="../../images/dishes/{{foodPic}}" alt="Picture of the food">
  </div>
  <div class="ui-card-body">
    <span class="tag">
      <b>Price: </b>
      <span class="price">
        <input type="text" class="priceInput" placeholder="price" [(ngModel)]="price" (focusout)="focusOut()"> leva
      </span>
    </span>

    <input type="file" id="file" class="inputFields fileInput" name="file" (change)="handleFileInput($event.target.files)">

    <span class="ui-float-label inputFields">
      <input id="dishName" type="text" pInputText [(ngModel)]="name" style="font-size: 1.5em; font-weight: bold;" (focusout)="focusOut()">
      <label for="dishName">Dish name</label>
    </span>
    <span class="ui-float-label inputFields">
      <input id="allergens" type="text" pInputText [(ngModel)]="allergens" value="{{allergens}}" (focusout)="focusOut()">
      <label for="allergens">Allergens</label>
    </span>
    <span class="ui-float-label inputFields">
      <textarea id="dishDescription" pInputTextarea [(ngModel)]="description" (focusout)="focusOut()"></textarea>
      <label for="dishDescription">Dish description</label>
    </span>
  </div>
</div>