<form [formGroup]="form">
  <fieldset>
    <legend>Login</legend>
    <h3 style="color: red">{{errMsg}}</h3>
    <div class="form-field">
      <label>User name:</label>
      <input name="username" formControlName="username">
    </div>
    <div class="form-field">
      <label>Password:</label>
      <input name="password" formControlName="password" type="password">
    </div>
  </fieldset>
  <div class="form-buttons">
    <button class="button button-primary"
            (click)="login()">Login</button>
  </div>
</form>