<p-button label="Get back to create menu" (click)="navigateToMenu()"></p-button>
<app-logout></app-logout>
<h2>
  All orders for the day:
</h2>
<ul>
  <li *ngFor="let foodOrder of this?.foodOrders">
    <h5>{{foodOrder.userName}}</h5>
    <ul>
      <li *ngFor="let dish of foodOrder?.dishes">
        <p>{{dish.name}}</p>
        <p>{{dish.price| number:'.2-2'}}lv</p>
      </li>
    </ul>
      <h6>Price for the order from {{foodOrder.userName}} is {{foodOrder.foodOrderPrice| number:'.2-2'}}lv</h6>
    <br>
  </li>
</ul>

<h4>Price for the day: {{this.priceForTheDay| number:'.2-2'}}lv</h4>