<h3 style="color: red">{{errMsg}}</h3>

<button *ngIf="isHR()" (click)="openAllOrders()">All orders</button>

<app-logout></app-logout>

<p-calendar [(ngModel)]="date" (onSelect)="getMenu()"></p-calendar>

<div *ngIf="orderMsg == null">

    <p>date of the menu: {{ menu?.date }}</p>

    <div class="ui-g">
        <div class="ui-g-3" *ngFor="let dish of menu?.dishes">
            <app-dish-card [name]="dish.name" [allergens]="dish.allergens" [price]="dish.price" [foodPic]="dish.foodPic" [id]="dish.id" (selectDish)="selectDish($event)">{{dish.description}}</app-dish-card>
        </div>
    </div>

    <ul>
        <li *ngFor="let dish of this?.selectedDishes">
            <p>name of the dish: {{ dish.name }}</p>
            <p>price of the dish: {{ dish.price }}</p>
            <br>
        </li>
    </ul>

    <h2>Price of the order: {{orderPrice| number:'.2-2'}}lv</h2>

    <p-button (click)="!menu?.canOrder || saveOrder()" [disabled]="!menu?.canOrder" label="Submit"></p-button>
</div>

<h1>{{orderMsg}}</h1>