<p>
  all-companies-daily-orders works!
</p>
<ul>
  <li *ngFor="let name of this?.companyNames; let i= index">
    <p>{{name}} - {{this.companyPrices[i]| number:'.2-2'}}</p>
    <ul>
      <li *ngFor="let foodOrder of this?.companiesWithOrders[i]">
        <p>{{foodOrder.userName}}</p>
        <ul>
          <li *ngFor="let dish of foodOrder?.dishes">
            <p>{{dish.name}}</p>
            <p>{{dish.price| number:'.2-2'}}</p>
          </li>
        </ul>
        Price for the order from {{foodOrder.userName}} is {{foodOrder.foodOrderPrice| number:'.2-2'}}
        <br>
      </li>
    </ul>
  </li>
</ul>

<!--Price for the day: {{this.priceForTheDay| number:'.2-2'}}-->