<p-button label="Get back to create menu" (click)="navigateToCreateMenu()"></p-button>
<app-logout></app-logout>
<h2>
  Orders from all companies for the day:
</h2>
<ul>
  <li *ngFor="let name of this?.companyNames; let i= index">
    <h4>{{name}} - {{this.companyPrices[i]| number:'.2-2'}}lv</h4>
    <ul>
      <li *ngFor="let foodOrder of this?.companiesWithOrders[i]">
        <h5>{{foodOrder.userName}}</h5>
        <ul>
          <li *ngFor="let dish of foodOrder?.dishes">
            <p>{{dish.name}}</p>
            <p>{{dish.price| number:'.2-2'}}lv</p>
          </li>
        </ul>
          <h6>Price for the order from {{foodOrder.userName}} is {{foodOrder.foodOrderPrice| number:'.2-2'}}lv</h6>
        <br>
      </li>
    </ul>
  </li>
</ul>